@import "tailwindcss";

@theme {
  --color-porsche-grey: #e6e6e6;
  --color-porsche-dark: #111111;
  --color-porsche-accent: #d5001c;
  --color-luxury-neutral: #f5f5f7;

  --font-porsche: "Inter", sans-serif;
}

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-porsche);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

canvas {
  touch-action: none;
}

.lenis.lenis-smooth {
  height: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}